.Header {
  .active{
    background-image: url("../Assets/halo-bg.jpg");
    background-size: cover;
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0px;
    transition: 0.3s linear;
    display: flex;
    justify-content: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 15;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    min-width: 320px;
  }
  .hidden{
    height: 5rem;
    width: 100%;
    z-index: 15;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    position: fixed;
    top: -80px;
    transition: 0.5s ease;
    min-width: 320px;
  }

  .nav-container {
    display: flex;
    width: 100%;
    padding: 0% 12% 0% 3%;
    align-items: center;
  }

  .start-container {
    font-size: 40px;
    font-family: 'FiraCode';
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .end-container {
    color: white;
    display: flex;
    margin-left: auto;
    font-size: 25px;
    font-family: 'FiraCode';
  }

  .end-col {
    margin-right: 75px;
  }

  .navbar-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 400ms ease;
  }
  .navbar-link:hover {
    transform: translateY(-2px);
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}